<div class="container">
    <div class="row bg-secondary">
        <div class="col-1 d-flex align-items-center justify-content-center">
            <button style="font-size: 2em;" class="btn">
                <i class="bi bi-x-lg text-danger"></i>
            </button>
        </div>
        <div class="col">
            <ul class="panel d-flex flex-row">
                <li>
                    <button (click)="customCanvas?.Rotate(90)"
                    class="btn panel-item">
                        <i class="bi bi-arrow-clockwise"></i>
                    </button>
                </li>
                <li>
                    <button (click)="customCanvas?.Rotate(-90)"
                    class="btn panel-item">
                        <i class="bi bi-arrow-counterclockwise"></i>
                    </button>
                </li>
            </ul>
        </div>
        <div class="col-1 d-flex align-items-center justify-content-center">
            <button (click)="ApplyChanges()" style="font-size: 2em;" class="btn">
                <i class="bi bi-check-lg text-success"></i>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-1 bg-secondary">
            <ul class="panel">
                <li class="">
                    <button class="btn panel-item">
                        <i class="bi bi-brush"></i>
                    </button>
                </li>
                <li>
                    <button class="btn panel-item">
                        <i class="bi bi-square"></i>
                    </button>
                </li>
                <li>
                    <button class="btn panel-item">
                        <input (change)="customCanvas?.SetColor($event)" class="form-control form-control-color"
                            type="color">
                    </button>
                </li>
            </ul>
        </div>
        <div class="col-9 canvas-box">
            <canvas (mousemove)="customCanvas?.Paint($event)" (mousedown)="customCanvas?.StartPainting($event)"
                (mouseup)="customCanvas?.EndPainting()" #canvas></canvas>
        </div>
        <div class="col-2 bg-secondary">
            <label class="form-label">Size:</label>
            <input (change)="customCanvas?.SetBrushSize($event)" type="range" class="form-range" min="1" max="20"
                value="5">
            <label class="form-label">Style:</label>
            <select (change)="customCanvas?.SetBrushStyle($event)"
            class="form-select">
                <option value="round">Round</option>
                <option value="square">Square</option>
                <option value="butt">Butt</option>
            </select>
        </div>
    </div>
</div>