.canvas-box{
    overflow: auto;
    height: calc(83vh);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.panel{
    list-style: none;
    padding: 0;
}

#top {
    height: 7vh;
}

.panel-item{
    margin: 5px 0;
    font-size: 2em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* canvas {
    image-rendering: optimizeSpeed;             
    image-rendering: -moz-crisp-edges;          
    image-rendering: -webkit-optimize-contrast; 
    image-rendering: -o-crisp-edges;            
    image-rendering: crisp-edges;               
    -ms-interpolation-mode: nearest-neighbor;   
} */