<div class="container">
    <div class="row my-3">
        <div class="col">
            <h2>MY ALBUMS</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-album></app-album>
            <app-album></app-album>
            <app-album></app-album>
        </div>
    </div>
    <div class="row my-3">
        <div class="col">
            <div class="card border-none my-2 shadow-sm">
                <div class="row g-0">
                    <button class="btn btn-outline-dark w-100 p-1 d-flex flex-row align-items-center">
                        <div class="col-1 d-flex justify-content-center">
                            <i class="bi bi-plus" style="font-size: 2rem"></i>
                        </div>
                        <div class="col-10">
                            <div class="card-body p-0 d-flex justify-content-start">
                                <h5 class="card-title m-0">Create new album</h5>
                            </div>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
