<nav class="navbar navbar-dark bg-dark align-items-center">
  <h1 class="navbar-brand" routerLink="/home">Dating Website</h1>

  <form *ngIf="!IsAuthenticated" class="d-flex justify-content-end me-1">
    <button routerLink="/login" [ngClass]="{'btn btn-outline-light mx-1' : true}" type="button">Log in</button>
    <button routerLink="/register" [ngClass]="{'btn btn-outline-light mx-1' : true}" type="button">Register</button>
  </form>

  <div *ngIf="IsAuthenticated" class="justify-content-end">
    <div class="dropdown me-4">
      <button class="btn btn-outline-light" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
        <app-main-profile [MainProfile]="MainProfile | async"></app-main-profile>
      </button>
      <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark">
        <li class="dropdown-item" routerLink="account">My account</li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li (click)="LogOut()" class="dropdown-item">Log out</li>
      </ul>
    </div>
  </div>
</nav>